/** Created by YukiCS **/
// @import 'eww-bar/modules/workspace', 'eww-bar/modules/date', 'eww-bar/modules/powermenu';
*{
	all: unset;
    font-family: CaskaydiaCove Nerd Font Mono;
	font-family: feather;
}

/** General **/
.bar_class {
    background-color: rgba(29, 31, 62, 0.35);
    border-radius: 18px;
    margin: 0px 8px 0px 8px;
}
.module {
    margin: 0px 0px 0px 0px;
}

/** Workspace module **/
.works {
    font-size: 18px;
    font-weight: normal;
    margin: 8px 0px 0px 0px;
}
.workspace-dot {
    margin-left: 10px;
}

/** Clock mdoule **/
.clock_time_sep {
    font-size: 18px;
    color: #bfc9db;
    margin: 0px 2px 1px 2px;
}
.clock_date_class {
    font-size: 20px;
    margin: 0px 30px 0px 6px;
    color: #d7beda;
}
.clock_time_class {
    font-size: 20px;
    color: #bfc9db;
    margin: 0px 0px 0px 0px;
}
.clock_minute_class {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    color: #bfc9db;
}

/** Calendar **/
.cal {
  background-color: rgb(29, 31, 62, 0.9);
  font-size: 18px;
  font-weight: normal;

    .cal-in {
        padding: 0px 10px 0px 10px;
        color: #bfc9db;

    .cal {
        &.highlight {
            padding: 20px;
        }

        padding: 5px 5px 5px 5px;
        margin-left: 10px;
        }
    }
}

/** Powermenu **/
.powermenu_module {
    font-size: 22px;
    padding-right: 10px;
}
.powermenu_list {
    padding-left: 10px;
}
.powermenu_shutdown, .powermenu_reboot {
    padding: 0px 10px 0px 10px;
    margin: 0px 4px 0px 0px;
    font-size: 18px;
    background-color: rgb(255, 74, 74);
    border-radius: 12px;
}

/** Battery **/
.bat_module {
    padding: 0px 20px 0px 0px;
}
.iconbat{
    font-size: 22px;
}